.navbar-light .navbar-brand {
    color: #f39c12;
    font-family: 'Fredericka the Great', bold;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
}

.navbar {
    background-color: #34495e;
}

.navbar-light .navbar-nav .nav-link {
    color: #f39c12;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 20px;
}

.navbar-light .navbar-brand:hover {
    color: #f4d03f;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #f4d03f;
}

button.navbar-toggler {
    background-color: #f39c12;
}
